section.createBlog {
	@include container;
	min-height: 30vh;
	height: auto;

	p {
		color: $text1;
		font-weight: bold;
	}

	.controls {
		width: 100%;
		max-width: 380px;
		margin-left: auto;
		height: 40px;
		margin-bottom: 10px;
		@include flex(space-between, center);
		.delete {
			// background-color: red;
			color: $error;
			// text-decoration: underline;
			font-size: 14px;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.actions {
			width: 50%;
			height: 100%;
			margin: 0;
			@include flex(space-between, center);
			gap: 10px;
			button {
				margin: 0;
			}
			.discard {
				background-color: red;
				border: none;
			}
			.draft {
				background-color: transparent;
				color: $text2;
				border: 2px solid $text2;
			}
		}
		a {
			font-size: 12px;
			color: $text1;
		}
		button {
			border: none;
			display: block;
			width: auto;
			padding: 10px;
			margin: 0;
		}

		.draft {
			width: 150px;
		}
		.dots {
			width: 20px;
			height: 20px;
			background-color: green;
		}
	}
	.adds {
		width: 100%;
		height: 40px;
		margin-bottom: 30px;
		@include flex(flex-start, center);
		input {
			display: none;
		}
		button,
		label {
			background-color: transparent;
			color: $text1;
			width: auto;
			margin: 0;
			border: none;
			text-decoration: underline;
			font-size: 14px;
			padding: 0 5px;
			&:hover {
				cursor: pointer;
			}
		}
		.blogSelectedTopics {
			width: auto;
			max-width: 80%;
			height: auto;
			margin-right: 20px;
			font-size: 13px;
			font-family: "Lato", sans-serif;
			font-weight: normal;
			text-transform: capitalize;
			span {
				font-family: "Lato", sans-serif;
			}
		}
	}
	.editors {
		position: relative;
		width: 100%;
		height: auto;
		section.selectedTopics {
			@include container;
			height: 60vh;
			border-radius: 5px;
			border: 1px solid $grey;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 2;
			padding: 0px;
			background-color: $white;
			text-transform: capitalize;
			.topics {
				height: auto;
				min-height: 30px;
				padding: 5px;
				@include flex(space-between, flex-start);
				.left {
					width: 80%;
					height: auto;
				}
				button {
					align-self: center;
					height: 30px;
					font-size: 12px;
				}
				span {
					font-size: 13px;
					margin-right: 10px;
					padding: 3px 5px;
					display: inline-block;
					border-radius: 4px;
					border: 2px solid $grey;
					margin-bottom: 5px;
					i {
						margin: 0;
						margin-left: 4px;
						font-size: 10px;
					}
				}
			}
			.select {
				width: 100%;
				height: auto;
				max-height: 92.5%;
				overflow-y: scroll;
				background-color: $white;
				padding: 10px 0;
				text-transform: capitalize;
				.topicItem {
					padding-left: 20px;
					font-size: 13px;
					margin-bottom: 2px;
					color: $text1;
					&:hover {
						background-color: #3b82f6;
					}
				}
			}
		}
		article.editor {
			width: 100%;
			height: 100%;
			border-radius: 5px;
			font-size: 14px;
			color: $text1;
			margin-bottom: 30px;
			p {
				font-weight: normal;
				line-height: 30px;
			}
		}

		article.header {
			p {
				font-weight: bold;
			}
		}
	}
}

.error {
	min-height: 90vh;
	@include container;
	@include flex(center, center);
	flex-direction: column;
	margin-top: 50px;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: $white;
	z-index: 3;
	button {
		height: 40px;
		margin-top: 20px;
	}
}

.dark {
	section.createBlog {
		p,
		h2 {
			color: $darkText1;
		}
		.controls {
			a {
				font-size: 12px;
				color: $darkText1;
			}
			button.delete {
				color: $error;
			}
			button {
				font-weight: bold;
				color: $darkText1;
			}
		}
		.adds {
			button,
			label {
				color: $darkText1;
			}
		}
		.editors {
			section.selectedTopics {
				.topics {
					.left {
						span {
							color: $darkText1;
							i {
								opacity: 0.5;
							}
						}
					}
				}
			}
			section.selectedTopics {
				background-color: $darkBg;
			}
		}
	}
	.error {
		background-color: $darkBg;
		p {
			color: $error;
		}
	}
}
