section.createBlog {
	@include container;
	min-height: 30vh;
	height: auto;
	p {
		color: $text1;
		font-weight: bold;
	}

	.controls {
		width: 100%;
		max-width: 380px;
		margin-left: auto;
		height: 40px;
		margin-bottom: 10px;
		@include flex(space-between, center);
		.delete {
			// background-color: red;
			color: $error;
			// text-decoration: underline;
			font-size: 14px;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.actions {
			width: 50%;
			height: 100%;
			margin: 0;
			@include flex(space-between, center);
			gap: 10px;
			button {
				margin: 0;
			}
			.discard {
				background-color: red;
				border: none;
			}
			.draft {
				background-color: transparent;
				color: $text2;
				border: 2px solid $text2;
			}
		}
		a {
			font-size: 12px;
			color: $text1;
		}
		button {
			border: none;
			display: block;
			width: auto;
			padding: 10px;
			margin: 0;
		}

		.draft {
			width: 150px;
		}
		.dots {
			width: 20px;
			height: 20px;
			background-color: green;
		}
	}
	.adds {
		width: 100%;
		height: 40px;
		margin-bottom: 30px;
		@include flex(flex-start, center);
		input {
			display: none;
		}
		button,
		label {
			background-color: transparent;
			color: $text1;
			width: auto;
			margin: 0;
			border: none;
			text-decoration: underline;
			font-size: 14px;
			padding: 0 5px;
			&:hover {
				cursor: pointer;
			}
		}
	}
	article.editor {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		font-size: 14px;
		color: $text1;
		margin-bottom: 30px;
		p {
			font-weight: normal;
			line-height: 30px;
		}
	}

	article.header {
		p {
			font-weight: bold;
		}
	}
}

.error {
	min-height: 90vh;
	@include container;
	@include flex(center, center);
	flex-direction: column;
	margin-top: 50px;
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: $white;
	button {
		height: 40px;
		margin-top: 20px;
	}
}
.dark {
	section.createBlog {
		p,
		h2 {
			color: $darkText1;
		}
		.controls {
			a {
				font-size: 12px;
				color: $darkText1;
			}
			button.delete {
				color: $error;
			}
			button {
				font-weight: bold;
				color: $darkText1;
			}
		}
		.adds {
			button,
			label {
				color: $darkText1;
			}
		}
	}
	.error {
		background-color: $darkBg;
		p {
			color: $error;
		}
	}
}
