.requests {
	@include container;
	height: auto;
	h3 {
		margin-bottom: 20px;
		background-color: red;
	}

	.request {
		width: 100%;
		height: auto;
		padding: 10px 20px;
		border-radius: 5px;
		border: 2px solid $grey;
		@include flex(flex-start, center);
		.image {
			width: 50px;
			height: 50px;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.desc {
			width: 70%;
			height: auto;
			// align-self: flex-start;
			opacity: 0.8;
			font-size: 14px;
			margin-left: 20px;
			text-decoration: none;
			color: $text1;
			&:hover {
				text-decoration: underline;
			}
		}
		.moderate {
			font-size: 14px;
		}
	}
}

h3.nothingHere {
	margin-top: 200px;
	background-color: red;
}
