@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
$text1: #2e475d;
$text2: #74c0fc;
$white: #ffffff;
$error: red;
@mixin flex($justify, $align) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}
@mixin container {
	width: 100%;
	max-width: 1124px;
	margin-inline: auto;
	padding: 0 20px;
}

.link {
	text-decoration: none;
}

.button2 {
	width: auto;
	height: 35px;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 7px;
	text-transform: capitalize;
	color: $text1;
	background-color: transparent;
	border: 2px solid $text1;
}

input,
button {
	width: 400px;
	border: 2px solid $text1;
	height: 40px;
	margin-bottom: 20px;
	padding: 0 20px;
	border-radius: 5px;
	font-weight: bold;
}
input:focus {
	outline: none;
	border-color: $text2;
}

button {
	background-color: $text1;
	color: $white;
	font-weight: normal;
	font-size: 15px;
}

.passwordInput {
	width: 400px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 7px;
	border: 2px solid $text1;
	@include flex(space-between, center);
	overflow: hidden;
	input {
		width: 90%;
		height: 100%;
		border-radius: 0;
		margin: 0;
		border: none;
	}

	.icon {
		width: 10%;
		height: 40px;
		@include flex(center, center);
		i {
			font-size: 13px;
			color: $text1;
		}
	}
}
.passwordInput:has(input:focus) {
	border-color: $text2;
}
.rectify {
	color: $text1;
	font-size: 14px;
	font-weight: bold;
	.link {
		color: $text2;
	}
	span {
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.error {
	color: $error;
	margin-top: -15px;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: bold;
	width: 400px;
	height: auto;
}

textarea {
	width: auto;
	min-width: 50%;
	height: auto;
	min-height: 150px;
	resize: none;
	padding: 10px 20px;
	border-radius: 10px;
}

button.cancel {
	background-color: transparent;
	border: 2px solid $error;
	color: $error;
}

body {
	padding-bottom: 100vh;
}
