@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Merriweather", serif;
}
html {
	scroll-behavior: smooth;
}
$text1: #2e475d;
$text2: #74c0fc;
$darkText1: #d1d5db;
$darkText2: #e5e7eb;
$white: #ffffff;
$error: red;
$background2: #f3f4f6;
$liked: #4063eb;
$grey: #bdbdbd;
$darkBg: #1f2937;
$darkBg2: #19222e;
@mixin flex($justify, $align) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}
@mixin container {
	width: 100%;
	max-width: 824px;
	margin-inline: auto;
	padding: 0 20px;
}

.link {
	text-decoration: none;
}

.button2 {
	width: auto;
	height: 35px;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 7px;
	text-transform: capitalize;
	color: $text1;
	background-color: transparent;
	border: 2px solid $text1;
}

input,
button {
	width: auto;
	border: 2px solid $text1;
	height: auto;
	margin-bottom: 20px;
	padding: 0 20px;
	border-radius: 5px;
	font-weight: bold;
}
input:focus {
	outline: none;
	border-color: $text2;
}

button {
	background-color: $text1;
	color: $white;
	font-weight: normal;
	font-size: 15px;
}

.passwordInput {
	width: 400px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 7px;
	border: 2px solid $text1;
	@include flex(space-between, center);
	overflow: hidden;
	input {
		width: 90%;
		height: 100%;
		border-radius: 0;
		margin: 0;
		border: none;
	}

	.icon {
		width: 10%;
		height: 40px;
		@include flex(center, center);
		background-color: $white;
		i {
			font-size: 13px;
			color: $text1;
		}
	}
}
.passwordInput:has(input:focus) {
	border-color: $text2;
}
.rectify {
	color: $text1;
	font-size: 14px;
	font-weight: bold;
	.link {
		color: $text2;
	}
	span {
		margin-left: 3px;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.error {
	color: $error;
	margin-top: -15px;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: bold;
	width: 400px;
	height: auto;
}

textarea {
	width: auto;
	min-width: 40%;
	height: auto;
	min-height: 150px;
	resize: none;
	padding: 10px 20px;
	border-radius: 5px;
	&:focus {
		outline: none;
	}
}

button.cancel {
	background-color: transparent;
	border: 2px solid $error;
	color: $error;
}

body {
	padding-top: 98px;
	padding-bottom: 100vh;
}
body:has(.dark) {
	background-color: $darkBg;
}
.dark {
	.passwordInput {
		border: 2px solid $darkText1;
	}
	.rectify {
		color: $darkText1;
	}
	button {
		color: $darkText1;
	}
}
