main {
	width: 100%;
	height: 80vh;
	@include flex(center, center);
	flex-direction: column;
	h3 {
		color: $text1;
		margin-bottom: 30px;
	}
	form {
		width: 100%;
		@include flex(center, center);
		flex-direction: column;
		height: auto;
		input,
		button {
			width: 400px;
			height: 40px;
		}
	}
}
