header {
	width: 100%;
	height: 70px;
	.header__container {
		height: 100%;
		@include container;
		@include flex(space-between, center);
		.left__side {
			width: auto;
			height: 40px;
			@include flex(space-between, center);
			.ctas,
			.profile {
				width: 80%;
				height: 100%;
				@include flex(space-between, center);
			}
			.ctas {
				button {
					display: block;
					margin: 0;
				}
			}
			.profile {
				min-width: 70px;
				width: auto;
				margin-left: 50px;
				position: relative;
				p {
					font-weight: bold;
					color: $text1;
				}
				.profileImg {
					width: 35px;
					height: 35px;
					@include flex(center, center);
					border-radius: 50%;
					border: 2px solid $text1;
					margin-left: 20px;
				}
			}
			.search {
				i {
					color: $text1;
				}
			}

			.menu {
				width: 150px;
				height: 250px;
				// background-color: red;
				border: 2px solid $text1;
				top: 45px;
				border-radius: 5px;
				right: 0px;
				position: absolute;
			}
		}
		.link {
			color: $text1;
		}

		.register {
			background-color: $text1;
			.link {
				color: $white;
			}
		}

		nav {
			width: 45%;
			height: 40px;
			background-color: green;
			@include flex(space-between, center);
		}
	}
}
