header {
	width: 100%;
	height: 70px;
	.header__container {
		height: 100%;
		@include container;
		@include flex(space-between, center);
		.left__side {
			width: auto;
			height: 40px;
			// background-color: red;
			@include flex(space-between, center);
			.ctas,
			.profile {
				width: 200px;
				height: 100%;
				@include flex(space-between, center);
			}
			.ctas {
				margin-left: 20px;
				button {
					display: block;
					margin: 0;
				}
			}
			.profile {
				min-width: 70px;
				width: auto;
				margin-left: 50px;
				position: relative;
				p {
					font-weight: bold;
					color: $text1;
				}
				.profileImg {
					width: 35px;
					height: 35px;
					@include flex(center, center);
					border-radius: 50%;
					border: 2px solid $text1;
					margin-left: 20px;
				}
			}
			.search {
				i {
					color: $text1;
				}
			}

			.menu {
				width: 150px;
				height: 230px;
				// background-color: red;
				border: 2px solid $text1;
				top: 45px;
				border-radius: 5px;
				right: 0px;
				position: absolute;
				padding: 10px;
				.menuItem {
					width: 100%;
					display: block;
					height: 30px;
					font-size: 14px;
					font-weight: bold;
					opacity: 0.6;
					&:hover {
						text-decoration: underline;
						opacity: 1;
					}
				}
				.active {
					opacity: 1;
				}
				.logout {
					color: red;
				}
				button {
					width: 120px;
					height: 30px;
					// margin-top: 20px;
					color: $text1;
					background-color: transparent;
					border: none;
				}
			}
		}
		.link {
			color: $text1;
		}

		.register {
			background-color: $text1;
			.link {
				color: $white;
			}
		}

		nav {
			width: 45%;
			height: 40px;
			background-color: green;
			@include flex(space-between, center);
		}
	}
}
