main.blog {
	display: block;
	height: auto;
	.article__image {
		width: 100%;
		height: 280px;
		overflow: hidden;
		@include flex(center, center);
		img {
			width: 100%;
			height: 250%;
			filter: blur(2px);
		}
		&::before {
			content: attr(data-heading);
			color: $white;
			filter: none;
			font-family: "Cabin", sans-serif;
			font-weight: bold;
			font-size: 36px;
			position: absolute;
			text-shadow: 2px 2px 3px black;
			opacity: 1;
			z-index: 3;
		}
	}
	.content {
		@include container;
		padding-bottom: 50px;
		margin-top: 50px;
		line-height: 25px;
		border-bottom: 2px solid $grey;
		img {
			width: 100%;
			margin-block: 20px;
		}
		p {
			font-size: 18px;
			line-height: 28px;
			opacity: 0.8;
		}
		blockquote {
			padding-left: 20px;
			position: relative;
			&::before {
				content: "";
				width: 5px;
				height: 100%;
				background-color: $grey;
				position: absolute;
				left: 0;
			}
		}
	}
	.rating {
		margin-top: 15px;
		p {
			margin: 0 15px;
		}
	}
	#sponsors {
		margin: 0 auto;
		margin-top: -50px;
		border: 1px solid $grey;
		@include container;
		padding: 20px;
		.sponsor {
			border: 1px solid $grey;
		}
		button {
			height: 40px;
			width: 170px;
			font-size: 15px;
		}
	}
}

#comments {
	// @include container;
	background-color: $background2;
	border-top: 1px solid $grey;
	margin-top: 10px;
	position: relative;
	.comments__container {
		@include container;
		padding: 50px 0;
		width: auto;
		height: auto;
		h3 {
			font-size: 24px;
			margin-bottom: 20px;
		}
		textarea {
			width: 98%;
			border-radius: 0;
			border: 1px solid $text1;
			font-size: 16px;
			min-height: 100px;
			margin: 0 auto;
			display: block;
			&::-webkit-scrollbar {
				display: none;
			}
			&:focus {
				border-radius: 0;
				outline: none;
				resize: vertical;
			}
		}
		button {
			margin-top: 20px;
			height: 40px;
			border-radius: 0;
		}
		.content {
			margin-top: 30px;
			min-height: 200px;
			padding: 0;
		}
	}
}
