main.blog {
	display: block;
	height: auto;
	.article__image {
		width: 100%;
		height: 280px;
		overflow: hidden;
		@include flex(center, center);
		img {
			width: 100%;
			height: 250%;
			filter: blur(2px);
		}
		&::before {
			content: attr(data-heading);
			color: $white;
			filter: none;
			font-family: "Cabin", sans-serif;
			font-weight: bold;
			font-size: 36px;
			position: absolute;
			text-shadow: 2px 2px 3px black;
			opacity: 1;
			z-index: 3;
		}
	}
	.content {
		@include container;
		padding-bottom: 50px;
		margin-top: 50px;
		line-height: 25px;
		border-bottom: 2px solid $grey;
		img {
			width: 100%;
			margin-block: 20px;
		}
		p {
			font-size: 18px;
			line-height: 28px;
			opacity: 0.8;
		}
		blockquote {
			padding-left: 20px;
			position: relative;
			&::before {
				content: "";
				width: 5px;
				height: 100%;
				background-color: $grey;
				position: absolute;
				left: 0;
			}
		}
	}
}
