main.blog {
	display: block;
	height: auto;
	.article__image {
		width: 100%;
		height: 280px;
		overflow: hidden;
		@include flex(center, center);
		img {
			width: 100%;
			height: 250%;
			filter: blur(2px);
		}
		&::before {
			content: attr(data-heading);
			color: $white;
			font-family: "Cabin", sans-serif;
			font-weight: bold;
			font-size: 36px;
			position: absolute;
			text-shadow: 2px 2px 3px black;
			opacity: 1;
			z-index: 3;
			width: auto;
			max-width: 80%;
			text-align: center;
		}
	}
	.blog__content {
		.content {
			@include container;
			padding-bottom: 50px;
			margin-top: 50px;
			line-height: 25px;
			border-bottom: 2px solid $grey;
			img {
				width: 100%;
				margin-block: 20px;
			}
			p {
				font-size: 18px;
				line-height: 28px;
				opacity: 0.8;
			}
			a {
				opacity: 0.8;
				color: $liked;
			}
			blockquote {
				padding-left: 20px;
				position: relative;
				&::before {
					content: "";
					width: 5px;
					height: 100%;
					background-color: $grey;
					position: absolute;
					left: 0;
				}
			}
		}
		.rating {
			margin-top: 15px;
			p {
				margin: 0 15px;
			}
		}
		#sponsors {
			margin: 0 auto;
			margin-top: -50px;
			border: 1px solid $grey;
			@include container;
			padding: 20px;
			.sponsor {
				border: 1px solid $grey;
			}
			button {
				height: 40px;
				width: 170px;
				font-size: 15px;
			}
		}
	}
}

.blocked {
	margin-top: 70px;
	@include flex(center, center);
	opacity: 0.5;
}
#comments {
	background-color: $background2;
	border-top: 1px solid $grey;
	margin-top: 10px;
	position: relative;
	.comments__container {
		@include container;
		padding: 50px 0;
		width: auto;
		height: auto;
		h3 {
			font-size: 24px;
			margin-bottom: 20px;
		}
		textarea {
			width: 98%;
			border-radius: 0;
			border: 1px solid $text1;
			font-size: 16px;
			min-height: 100px;
			margin: 0 auto;
			display: block;
			&::-webkit-scrollbar {
				display: none;
			}
			&:focus {
				border-radius: 0;
				outline: none;
				resize: vertical;
			}
		}
		button {
			margin-top: 20px;
			height: 40px;
			border-radius: 0;
		}
		button.waiting {
			opacity: 0.6;
		}
		.content {
			margin-top: 30px;
			min-height: 200px;
			padding: 0;
		}
	}
}

@media screen and (max-width: 860px) {
	main.blog {
		.article__image {
			height: 230px;
		}
		.blog__content {
			.content {
				p {
					font-size: 14px;
				}
			}
		}
	}
	#comments {
		padding-inline: 5px;
		.comments__container {
			padding-inline: 5px;
			h3 {
				margin-left: 10px;
			}
		}
	}
}

.dark {
	main.blog {
		.blog__content {
			background-color: #374151;
			@include container;
			padding-top: 20px;
			.content {
				color: $darkText1;
			}
		}
	}
	#comments {
		background-color: $darkBg2;
	}
}

@media screen and (max-width: 860px) {
	.dark {
		main.blog {
			.blog__content {
				padding-inline: 0px;
			}
		}
	}
}
