.author_info {
	@include container;
	min-height: 120px;
	// background-color: red;
	@include flex(flex-start, flex-start);
	margin-top: 40px;
	.image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 20px;
		align-self: center;
		@include flex(center, center);
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		i {
			color: $grey;
			font-size: 42px;
		}
	}
	.image.icon {
		border: 2px solid $grey;
	}
	.desc {
		width: auto;
		height: 100%;
		.actions {
			@include flex(space-between, center);
			margin-bottom: 10px;
			p,
			.link {
				color: $text1;
			}
			p {
				opacity: 1;
			}
			.edit,
			.subscribe {
				border: 1px solid $text1;
				padding: 5px 10px;
				border-radius: 5px;
				font-size: 12px;
				background-color: transparent;
				margin: 0;
				margin-right: 10px;
				color: $text1;
			}
			.subscribers {
				@include flex(flex-start, center);
				.icon {
					width: 15px;
					height: 15px;
					margin-right: 10px;
					i {
						opacity: 0.5;
						font-size: 14px;
					}
				}
				p {
					font-size: 14px;
				}
			}
		}
		p {
			margin-right: 20px;
			font-size: 16px;
			opacity: 0.7;
			.link {
				font-weight: bold;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.bio,
		.topics {
			width: 100%;
			height: auto;
			min-height: 20px;
			opacity: 0.7;
			font-size: 14px;
			margin-bottom: 5px;
		}
		.topics {
			font-family: "Lato", sans-serif;
			text-transform: capitalize;
		}
		.userTime {
			@include flex(flex-start, center);
			.complain {
				width: 35px;
				height: 25px;
				@include flex(center, center);
				background-color: $grey;
				position: relative;
				.drop {
					width: 170px;
					height: auto;
					border: 1px solid $grey;
					background-color: $white;
					position: absolute;
					border-radius: 3px;
					top: 25px;
					overflow: hidden;
					left: 0;
					z-index: 2;
					.drop_elem {
						width: 100%;
						height: 45px;
						background-color: $white;
						border-bottom: 1px solid $grey;
						@include flex(center, center);
						font-size: 14px;
						font-weight: bold;
						opacity: 0.8;
						color: black;
						text-decoration: none;
						&:hover {
							background-color: $grey;
							cursor: pointer;
						}
					}
				}
			}
		}
		.editTime {
			margin-top: 10px;
			font-size: 13px;
		}
	}
}

.dark {
	.author_info {
		.desc {
			.actions {
				p,
				.link {
					color: $darkText1;
				}
				.edit,
				.subscribe {
					border: 1px solid $darkText1;
					color: $darkText1;
				}
			}
			.bio {
				color: $darkText1;
			}
			.userTime {
				.complain {
					background-color: $grey;
					.drop {
						border: 1px solid $darkBg;
						background-color: $darkBg2;
						.drop_elem {
							background-color: $darkBg;
							border-bottom: 1px solid $grey;
							color: $darkText1;
							&:hover {
								background-color: $darkBg2;
							}
							&:last-child {
								border: none;
							}
						}
					}
				}
			}
			.editTime {
				margin-top: 10px;
				font-size: 13px;
			}
		}
	}
}
