.author_info {
	@include container;
	min-height: 120px;
	// background-color: red;
	@include flex(flex-start, flex-start);
	margin-top: 40px;
	.image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 20px;
		align-self: center;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	.desc {
		width: auto;
		height: 100%;
		.actions {
			@include flex(space-between, center);
			margin-bottom: 10px;
			p,
			.link {
				color: $text1;
			}
			p {
				opacity: 1;
			}
			.edit,
			.subscribe {
				border: 1px solid $text1;
				padding: 5px 10px;
				border-radius: 5px;
				font-size: 12px;
				background-color: transparent;
				margin: 0;
				margin-right: 10px;
				color: $text1;
			}
			.subscribers {
				@include flex(flex-start, center);
				.icon {
					width: 15px;
					height: 15px;
					margin-right: 10px;
					i {
						opacity: 0.5;
						font-size: 14px;
					}
				}
				p {
					font-size: 14px;
				}
			}
		}
		p {
			margin-right: 20px;
			font-size: 16px;
			opacity: 0.7;
			.link {
				font-weight: bold;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.bio {
			width: 100%;
			height: auto;
			min-height: 20px;
			opacity: 0.7;
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
}
