main.profile {
	width: 100%;
	min-height: 90vh;
	display: block;
	@include container;
	margin-top: 30px;
}

#blogs {
	margin-top: 30px;
	padding-bottom: 50px;
	width: 100%;
	height: auto;
	background-color: #f3f4f6;
}
.noblogs {
	text-align: center;
	font-weight: bold;
}
