main.profile {
	width: 100%;
	height: auto;
	display: block;
	@include container;
	margin-top: 30px;
	margin-bottom: 30px;
}

#articles {
	margin-top: 30px;
	padding-bottom: 50px;
	width: 100%;
	min-height: 40vh;
	height: auto;
	background-color: $background2;
	padding: 20px 0;
}
.profileLoading {
	background-color: $background2;
}
.noblogs {
	text-align: center;
	width: 100%;
	height: 40vh;
	font-weight: bold;
	@include flex(center, center);
	background-color: $background2;
}
