.userInfo {
	width: 100%;
	height: auto;
	@include flex(center, flex-start);

	padding: 30px 0;
	.section__image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid $text1;
		margin-right: 50px;
		position: relative;
		@include flex(center, center);
		i {
			font-size: 52px;
		}
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		input {
			display: none;
		}
		label {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: block;
			background-color: $white;
			position: absolute;
			bottom: 10px;
			right: -10px;
			border: 1px solid $text1;
			@include flex(center, center);
			i {
				font-size: 16px;
				color: $text1;
			}
		}
	}
	.section__text {
		width: auto;
		min-width: 40%;
		max-width: 80%;
		height: 100%;

		h3 {
			font-weight: normal;
			font-size: 28px;
			margin: 0;
		}
		.bio {
			width: 100%;
			height: auto;
			@include flex(space-between, center);
			.icon {
				width: 32px;
				height: 30px;
				background-color: $white;
				border: 1px solid $text1;
				border-radius: 50%;
				margin-left: 10px;
				@include flex(center, center);
				i {
					font-size: 12px;
				}
			}
		}
		p {
			margin-top: 10px;
			color: $text1;
			opacity: 0.7;
			width: 100%;
			font-size: 14px;
		}
		.subs {
			width: auto;
			margin-top: 10px;
			@include flex(flex-start, center);

			.subCount {
				min-width: 30px;
				width: auto;
				height: auto;
				@include flex(flex-start, center);

				.icon {
					width: auto;
					height: auto;
					opacity: 0.5;
					margin-right: 8px;
					@include flex(center, center);
					i {
						font-size: 14px;
					}
				}
				p {
					font-weight: bold;
					font-size: 14px;
					@include flex(center, center);
					margin: 0;
				}
			}
			button {
				margin: 0;
				margin-left: 20px;
				min-width: 100px;
				width: auto;
				height: 30px;
				font-size: 12px;
				padding: 0px 10px;
			}
			.block {
				background-color: transparent;
				border: 2px solid $error;
				color: $error;
			}
		}
	}
}

.dark {
	.userInfo {
		.section__text {
			h3 {
				color: $darkText1;
			}
			.bio {
				color: white;
				.icon {
					background-color: $white;
					i {
						color: $text1;
					}
					border: 1px solid $darkText1;
				}
			}
			p {
				color: $darkText1;
			}
			.subs {
				.subCount {
					.icon {
						i {
							color: $darkText1;
						}
					}
				}
			}
		}
	}
}
