.blogPreview {
	width: 100%;
	min-height: 190px;
	height: auto;
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 2px 2px 10px $text1;
	margin-bottom: 30px;
	.leadImage {
		float: right;
		width: 100px;
		height: 100px;
		background-color: green;
		img {
			width: 100%;
			height: 100%;
		}
	}
	h3 {
		font-size: 26px;
		margin-bottom: 10px;
		font-family: "Roboto Slab", sans-serif;
	}
	p {
		opacity: 0.8;
	}
	.actions {
		width: 100%;
		height: 30px;
		margin-top: 10px;
		// background-color: green;
		@include flex(flex-start, center);
		gap: 20px;
		p {
			font-weight: bold;
		}
		.action {
			min-width: 200px;
			width: auto;
			height: 100%;
			// background-color: red;
			@include flex(flex-start, center);
			.icon {
				width: 30px;
				height: 100%;
				background-color: yellow;
				margin-right: 20px;
			}
			p {
				margin-right: 20px;
			}
		}
	}
}
