.blogPreview {
	@include container;
	.link {
		color: $text1;
	}
	width: 100%;
	height: auto;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
	background-color: white;
	.content {
		width: 100%;
		height: auto;
		@include flex(space-between, center);
		.leadImage {
			height: 70px;
			width: 100px;
			background-color: green;
			display: block;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.left {
			width: 88%;
			height: auto;
			h3.preview__heading {
				font-size: 20px;
				margin-bottom: 10px;
				font-family: "Lato", sans-serif;
			}
			p {
				font-family: "Lato", sans-serif;
			}
		}
	}

	.actions {
		width: 100%;
		height: 20px;
		margin-top: 10px;
		@include flex(flex-start, center);
		gap: 20px;

		.action {
			width: auto;
			height: 100%;
			// background-color: red;
			@include flex(flex-start, center);
			.icon {
				width: 20px;
				height: 100%;
				@include flex(center, center);
				font-size: 13px;
				margin-right: 10px;
				opacity: 0.3;
				&:hover {
					cursor: pointer;
				}
			}
			.active {
				opacity: 0.9;
				i {
					color: $liked;
				}
			}
		}
		p {
			margin-right: 10px;
			font-size: 12px;
			font-family: "Cabin", sans-serif;
			font-weight: 400;
			opacity: 0.8;
		}
		p.username {
			font-size: 15px;
		}
		.blog_controls {
			background-color: #e5e7eb;
			@include flex(center, center);
			width: 30px;
			height: 20px;
			margin-left: auto;
			i {
				font-size: 12px;
			}
			&:hover {
				cursor: pointer;
			}
		}
		.comments {
			text-decoration: none;
			color: black;
		}
	}
}
