header {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 4;
	background-color: white;
	.header__container {
		height: 100%;
		@include container;
		@include flex(space-between, center);

		.left__side {
			width: auto;
			height: 40px;
			.content {
				@include flex(space-between, center);
				.ctas,
				.profile {
					width: 200px;
					height: 100%;
					@include flex(space-between, center);
				}
				.ctas {
					margin-left: 20px;
					button {
						display: block;
						margin: 0;
					}
				}
				.profile__menu {
					width: auto;
					margin-left: 50px;
					margin-right: 10px;
					height: auto;
					@include flex(space-between, center);
					p,
					.link {
						font-weight: bolder;
						color: $text1;
						font-size: 14px;
						margin: 10px;
						&:hover {
							text-decoration: underline;
							cursor: pointer;
						}
					}
				}
				.controls,
				.user__notices {
					width: auto;
					padding: 0 10px;
					height: 100%;
					// background-color: green;
					@include flex(space-between, center);
					gap: 10px;

					button {
						background-color: transparent;
						margin: 0;
						border: none;
						padding: 0;
					}
					i {
						font-size: 12px;
						color: $text1;
						&:hover {
							cursor: pointer;
						}
					}
					.unread {
						color: red;
					}
					p {
						&:hover {
							cursor: pointer;
						}
					}
				}
				.user__notices {
					position: relative;
				}

				.search {
					i {
						color: $text1;
						font-size: 12px;
						margin-right: 10px;
						font-weight: bolder;
					}
				}
				p.balance {
					font-weight: bolder;
					font-size: 12px;
					margin-left: 5px;
				}

				.menu {
					width: 205px;
					height: 320px;
					background-color: white;
					box-shadow: 2px 2px 3px rgba(240, 237, 237, 0.781), -2px -2px 3px rgba(240, 237, 237, 0.781);
					top: 30px;
					border-radius: 5px;
					right: 0px;
					position: absolute;
					padding: 10px;
					z-index: 4;
					.profile {
						width: 100%;
						height: 40px;
						margin-bottom: 20px;
						@include flex(flex-start, center);
						margin: 0;
						.image {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							margin-right: 10px;
							@include flex(center, center);
							border: 1px solid $text1;
							img {
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
							i {
								font-size: 16px;
							}
						}
						.text {
							color: $text1;
							font-size: 14px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.menuItem {
						width: 100%;
						display: block;
						margin-bottom: 10px;
						font-size: 13px;
						font-weight: bold;
						text-align: right;
						opacity: 0.8;
						span {
							display: block;
							font-size: 12px;
							opacity: 0.4;
						}
						&:hover {
							text-decoration: underline;
							opacity: 1;
						}
					}

					.logout {
						color: red;
					}
					button {
						width: 120px;
						height: 30px;
						// margin-top: 20px;
						color: $text1;
						background-color: transparent;
						border: none;
					}
				}
			}

			.username {
				text-align: right;
				font-size: 13px;
				text-transform: capitalize;
				font-family: "Merriweather", serif;
				margin-top: -5px;
				width: auto;
				margin-bottom: 20px;
				color: $text1;
				opacity: 0.6;
				z-index: -2;
			}

			.register {
				background-color: $text1;
				.link {
					color: $white;
				}
			}

			nav {
				width: 45%;
				height: 40px;
				@include flex(space-between, center);
			}
		}
		.link {
			color: $text1;
		}
	}
	.topics {
		height: auto;
		min-height: 120px;
		background-color: $white;
		display: inline;
		position: absolute;
		top: 80%;
		left: 0;
		right: 0;
		z-index: 3;
		margin: 0 auto;
		@include container;
		width: auto;
		padding: 20px 40px;
		background-color: red;
		border: 1px solid $grey;
		border-radius: 2px;
		.link {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 10px;
			font-family: "Lato", sans-serif;
			color: $text1;
			font-size: 14px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.dark {
	header {
		background-color: $darkBg2;
		.header__container {
			h3.logo > .link {
				color: $darkText1;
			}
			.left__side {
				.content {
					.profile__menu {
						p,
						.link {
							color: $darkText1;
						}
					}
					.controls,
					.user__notices {
						i {
							color: $darkText1;
						}
						i.unread {
							color: $error;
						}
					}

					.search {
						i {
							color: $darkText1;
						}
					}
					p.balance {
						color: $darkText1;
					}

					.menu {
						background-color: $darkBg2;
						box-shadow: 2px 2px 3px rgba(19, 18, 18, 0.781), -2px -2px 3px rgba(29, 28, 28, 0.781);

						.profile {
							.image {
								border: 1px solid $darkText1;
							}
							.text {
								color: $darkText1;
							}
						}
						.menuItem {
							color: $darkText1;
							span {
								display: block;
								font-size: 12px;
								opacity: 0.4;
							}
						}

						.logout {
							color: red;
						}
						button {
							width: 120px;
							height: 30px;
							// margin-top: 20px;
							color: $text1;
							background-color: transparent;
							border: none;
						}
					}
				}

				.username {
					color: $darkText1;
					opacity: 0.9;
				}

				.register {
					background-color: $darkText1;
					border: 2px solid $darkText1;
					.link {
						color: $text1;
					}
				}
				.login {
					border: 2px solid $darkText1;
					.link {
						color: $darkText1;
					}
				}
			}
		}
		.topics {
			background-color: $darkBg;
			.link {
				color: $darkText1;
			}
		}
	}
}
