.comment {
	width: 98%;
	min-height: 90px;
	position: relative;
	margin-bottom: 30px;
	border-left: 2px solid $text1;
	display: block;
	padding: 10px 0px 10px 20px;
	position: relative;

	.reply_info {
		font-size: 13px;
		margin-bottom: 10px;
		color: $text1;
	}
	.actions {
		width: 30px;
		height: 25px;
		float: right;
		background-color: $grey;
		@include flex(center, center);
		margin-left: 5px;
		.controls_sub {
			width: 200px;
			height: auto;
			position: absolute;
			top: 35px;
			right: -100px;
			background-color: $white;
			border-radius: 2px;
			border: 1px solid $grey;
			.elem {
				width: 100%;
				height: 45px;
				border-bottom: 1px solid $grey;
				font-size: 14px;
				font-weight: bold;
				@include flex(center, center);
				opacity: 0.8;
				text-decoration: none;
				color: $text1;

				&:hover {
					background-color: $grey;
				}
				&:last-child {
					border: none;
				}
			}
		}
		i {
			color: $white;
		}
	}
	.interactions {
		@include flex(flex-start, center);
		margin-top: 10px;
		height: auto;

		.left {
			width: 60%;
			@include flex(flex-start, center);

			.rating {
				gap: 10px;
				.icon {
					margin: 0;
					@include flex(center, center);
				}
			}
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-left: 10px;
			}
			.link {
				margin-left: 10px;
				color: $text1;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.left > div {
			width: 120px;
			height: 40px;
			margin-right: 15px;
			border: 1px solid $grey;
		}
		.right {
			@include flex(flex-start, center);
			width: 40%;
			.time {
				opacity: 0.7;
				margin-left: 10px;
			}
			.reply {
				opacity: 1;
				margin-left: 20px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.tipForm {
			height: auto;
			min-height: 120px;
			width: 100%;
			left: 0px;
			background-color: $background2;
			.container {
				width: 98%;
				max-width: 450px;
				height: auto;
				margin: 0 auto;
				label {
					margin-bottom: 5px;
				}
				input {
					height: 40px;
					width: 100%;
				}
				.actions {
					height: auto;
					background-color: transparent;
					align-items: center;
					margin-top: -14px;
					padding: 0;
					width: 100%;
					gap: 10px;
					button {
						margin: 0;
						width: 140px;
					}
				}
			}
		}
	}

	.showReplies {
		margin-top: 10px;
		text-decoration: underline;
		color: blue;
	}
}
.replies {
	width: 95%;
	margin-left: 5%;
}
.replyForm {
	height: auto;
	background-color: $background2;
	position: absolute;
	left: -4px;
	top: 10px;
	z-index: 2;
	@include container;
	right: 0;
	bottom: 0;
	margin: auto;
	@include flex(center, flex-start);
	.container {
		width: 100%;
		height: auto;
		min-height: 200px;
		margin-top: 70px;
		textarea {
			width: 100%;
		}
		button {
			min-width: 170px;
		}
		.waiting {
			opacity: 0.5;
		}
		.cancel {
			margin-left: 20px;
		}
	}
}

.activeReply {
	background-color: #aa73b4;
}

@media screen and (max-width: 860px) {
	.comment {
		padding-left: 15px;
		font-size: 13px;
		.interactions {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			height: auto;
			.left,
			.right {
				width: 100%;
				p {
					font-size: 13px;
				}
			}
			.left > div {
				width: 70px;
				padding: 0 10px;
			}
			.left {
				.author_img,
				.fa-user {
					margin-left: -7px;
				}
				.author_img {
					width: 25px;
					height: 25px;
				}
			}
			.right {
				margin-top: 10px;
				p {
					min-width: 150px;
					font-size: 13px;
					font-weight: bold;
				}
			}
		}
	}
	.replies {
		width: 98%;
		margin-left: 2%;
	}
}
.dark {
	.comment {
		.reply_info {
			color: $darkText1;
		}
		.interactions {
			.link,
			.time {
				color: $darkText1;
				opacity: 0.7;
			}
			.tipForm {
				background-color: $darkBg2;
				label {
					color: $darkText1;
				}
			}
		}
	}
	.replyForm {
		background-color: $darkBg;
	}
	.activeReply {
		background-color: rgb(50, 73, 50);
	}
}
