.upvote {
	min-width: 120px;
	width: auto;
	height: 100%;
	border-radius: 3px;
	border: 2px solid $grey;
	@include flex(flex-start, center);
	padding: 0 10px;
	i {
		margin-right: 10px;
		font-size: 20px;
		font-weight: bold;
	}
	p {
		font-size: 16px;
		font-weight: bold;
	}
}

.tipForm {
	@include container;
	position: absolute;
	background-color: $white;
	z-index: 2;
	top: -5px;
	padding: 20px 0;
	width: 100%;
	margin: 0 auto;
	.container {
		@include flex(flex-start, flex-start);
		flex-direction: column;
		width: 100%;
		max-width: 480px;
		label {
			margin-bottom: 20px;
			span {
				font-weight: bold;
				opacity: 0.7;
			}
		}
		input {
			width: 100%;
		}
		.actions {
			@include flex(flex-start, center);
			button {
				width: 150px;
			}
			.cancel {
				margin-left: 20px;
			}
			.waiting {
				opacity: 0.5;
				height: 35px;
				border: none;
				border-radius: 0;
				@include flex(center, center);
			}
		}
	}
}
@media screen and (max-width: 560px) {
	.upvote {
		min-width: 100px;
	}
}
.dark {
	.tipForm {
		background-color: #374151;
	}
}
