.loading,
.errorOccurred {
	background-color: $white;
	@include flex(center, center);
	height: auto;
	max-height: 200px;
	width: 100%;
	flex-direction: column;
	overflow: hidden;
	img {
		opacity: 0.6;
		height: 100%;
	}
}

.errorOccurred {
	p {
		color: red;
		margin-bottom: 20px;
	}
	button {
		height: 35px;
		font-size: 14px;
		width: 120px;
	}
}
