section.passwordReset {
	min-height: 200px;
	@include container;
	width: 500px;
	align-self: center;
	@include flex(center, flex-start);
	flex-direction: column;
	h3 {
		font-size: 14px;
		margin-bottom: 20px;
	}
	input {
		height: 40px;
		width: 400px;
	}
	button {
		height: 40px;
	}
	label {
		margin-bottom: 10px;
		font-size: 14px;
		display: block;
	}
	.error {
		height: auto;
	}
}

body:has(section.passwordReset) {
	padding: 0;
	@include flex(center, center);
}

.dark {
	section.passwordReset {
		label {
			color: $darkText1;
		}
	}
}
