@import "./assets/scss/_globals";
@import "./components/Header/Header.scss";
@import "./assets/scss/Auth.scss";
@import "./Pages/Profile/UserInfo/UserInfo.scss";
@import "./components/Popups/Popup.scss";
@import "./components/Ratings/Ratings.scss";
@import "./components/Loading/Loading.scss";
@import "./components/Sponsors/Sponsors.scss";
@import "./components/BlogPreview/BlogPreview.scss";
@import "./components/Upvotes/Upvotes.scss";
@import "./components/TipBox/TipBox.scss";
@import "./components/Tipper/Tipper.scss";
@import "./Pages/Profile/Profile.scss";
@import "./Pages/Account/Account.scss";
@import "./Pages/NotFound/NotFound.scss";
@import "./Pages/ComingSoon/ComingSoon.scss";
@import "./Pages/CreateBlog/CreateBlog.scss";
@import "./Pages/Blog/Blog.scss";
@import "./Pages/Block/Block.scss";
@import "./Pages/Saved/Saved.scss";
@import "./Pages/Blog/AuthorInfo/AuthorInfo.scss";
@import "./Pages/Blog/BlogControls/BlogControls.scss";
@import "./Pages/Blog/Comment/Comment.scss";
@import "./Pages/Homepage/Homepage.scss";
@import "./Pages/Search/Search.scss";
@import "./Pages/Report/Report.scss";
@import "./Pages/Sponsorships/Sponsorships.scss";
@import "./Pages/ResetPassword/ResetPassword.scss";
@import "./Pages/Sponsorships/NewSponsorship/NewSponsorship.scss";
@import "./Pages/Sponsorships/Requests/Requests.scss";
@import "./Pages/Sponsorships/Requests/Request/Request.scss";
@import "./Pages/Notifications/Notifications.scss";
body {
	background-color: $white;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}
