@import "./assets/scss/_globals";
@import "./components/Header/Header.scss";
@import "./assets/scss/Auth.scss";
@import "./components/UserInfo/UserInfo.scss";
@import "./Pages/Profile/Profile.scss";
body {
	background-color: $white;
	width: 100%;
	min-height: 100vh;
}
