.tipper {
	width: 45px;
	height: 45px;
	@include flex(center, center);
	border: 1px solid $grey;
	border-radius: 50%;
	background-color: $white;
	position: relative;
	&:nth-child(n + 1) {
		margin-left: -20px;
	}
	&:hover {
		border: 2px solid $liked;
		cursor: pointer;
	}
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	i {
		font-size: 20px;
		color: $grey;
	}
	.blog_info {
		color: $text1;
		position: absolute;
		top: 30px;
		display: block;
		background-color: $white;
		border-radius: 3px;
		border: 1px solid $grey;
		left: 20px;
		width: auto;
		min-width: 200px;
		max-width: none;
		padding: 10px;
		font-size: 14px;
	}
}
