body:has(section.block) {
	padding: 0;
	@include flex(center, center);

	.actions {
		margin-top: 30px;
		.block {
			border: 2px solid $error;
			color: $error;
			background-color: transparent;
		}
		.cancel {
			color: $text1;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.dark {
	section.block {
		.actions {
			.cancel {
				color: $darkText1;
			}
		}
	}
}
