#sponsors {
	border-radius: 5px;
	border: 1px solid $background2;
	margin-top: 40px;
	height: auto;
	max-width: 924px;
	height: auto;
	padding: 20px;
	box-shadow: 2px 2px 3px $background2, -2px -2px 3px $background2;
	.sponsors_intro {
		margin-bottom: 20px;
		text-align: center;
		font-family: "Cabin", sans-serif;
		opacity: 0.6;
	}
	.sponsors__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		height: auto;
		margin-bottom: 20px;
		.loading {
			grid-column: 2/3;
			height: 170px;
		}
		.sponsor {
			width: 100%;
			height: 100px;
			// border: 1px solid $text1;
			box-shadow: 2px 2px 3px $background2;
			border-radius: 5px;
			background-color: $background2;
			.image {
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 5px;
				img {
					width: 100%;
					height: 100%;
					border-radius: 5px;
				}
			}
			.empty {
				width: 100%;
				height: 100%;
				@include flex(center, center);
				font-size: 14px;
				text-transform: lowercase;
				font-family: "Cabin", sans-serif;
				font-weight: bold;
				opacity: 0.6;
			}
		}
	}
	.button {
		display: block;
		margin: 0 auto;
		height: 40px;
		width: 150px;
		background-color: $text1;
		@include flex(center, center);
		border-radius: 3px;
		font-size: 13px;
		font-family: "Cabin", sans-serif;
		margin: 0 auto;
		text-align: center;
		color: $white;
		text-decoration: none;
	}
}

.dark {
	#sponsors {
		border: 1px solid $darkText2;
		box-shadow: none;
		.sponsors_intro {
			color: $darkText1;
		}
		.sponsors__container {
			.sponsor {
				box-shadow: none;
			}
		}
	}
}
